html {
    scroll-behavior: smooth;
    width: 100%;
    min-height: 100%; 
    overflow-x: hidden; 
}

:root{
    --color-primario: #333;
    --color-secundario: #f4f4f4;
    --color-acento: #ff4500;
    --fuente-principal: 'Poppins', sans-serif;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: var(--fuente-principal);
    background-color: #fff;
    color: var(--color-primario);
    line-height: 1.6;
    min-height: 100vh; 
    display: flex;
    flex-direction: column; 
}

a{
    text-decoration: none;
    color: inherit;
}
ul{
    list-style: none;
}
header{
    background-color: var(--color-primario);
    color: #fff;
    padding: 1rem 0;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 2rem;
}

.logo{
    display: flex;
    align-items: center;
    gap: 10px;
}


.logo h1{
    font-size: 1.5rem;
    text-transform: uppercase;
}

.logo img{
    width: 60px;
    height: 60px;
}
.nav-links{
    display: flex;
    gap: 2rem;
}
.nav-links a{
    font-weight: 500;
    transition: color 0.3s ease;
}

.nav-links a:hover,
.nav-links a.active{
    color: var(--color-acento);
}
.container{
    max-width: 1200px;
    margin: 80px auto 0;
    padding: 2rem;
}


.seccion-titulo{
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 2rem;
    text-transform: uppercase;
    color: var(--color-primario);
}

.hero{
    background-image: url('../img/heroimg.png');
    background-size: cover;
    background-attachment: scroll;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 30rem 2rem;
}


.hero-content h2{
    color: var(--color-secundario);
    background-color: rgba(0, 0, 0, 0.5);
    font-size: 3rem;
    margin-bottom: 1rem;
}

.hero-content p{
    color: var(--color-acento);
    background-color: rgba(89, 87, 87, 0.5);
}

.btn-cta{
    display: inline-block;
    background-color: var(--color-acento);
    color: #fff;
    padding: 0.8rem 2rem;
    border-radius: 5px;
    font-weight: bold;
    margin-top: 1.5rem;
    transition: background-color 0.3s ease;
}
.btn-cta:hover{
    background-color: #e03e00;
}

.nosotros-content{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 3rem;
    align-items: center;
}

.nosotros-texto h3{
    font-size: 1.8rem;
    margin-bottom: 1rem;
}
.nosotros-texto p{
    margin-bottom: 1rem;
    color: #555;
}

.nosotros-imagen img{
    width: 100%;
    border-radius: 10px;
}



